/* Form.css */

.form-group {
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  top: 50px;

}

.form {
  width: 370px;
  height: 400px;
  position: absolute;
  left: 30%;
  top: 25%;
  background-color: aliceblue;
  border-radius: 8px;


}

@media (max-width: 700px) {
  .form {
    position: absolute;
    width: 340px;
    left: 5%;
    right: 5%;
    top: 20%;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .form {
    width: 350px;
    left: 10%;
    top: 20%;
  }
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

span.error {
  color: red;
}

.form-control-btn {
  width: 30%;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: inherit;
  left: 30%;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.form-content {
  width: 300px;
  height: 200px;

  position: relative;
  left: 50px;

}

.form-control {
  height: 25px;
  width: 200px;
  position: relative;

}